/* Stylesheet 1: */
/* A CSS rule set consists of a selector and a declaration block */
/* selector body selects all <body> tags in the HTML */
body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
}

.container{
    xmin-width: 900px;
}

/* selector .wrapper selects all tags in the HTML with class="wrapper" */
.wrapper {
    position: relative;
    overflow: auto;
}

/* use commas (,) to create a rule with grouped selectors */
#top, #sidebar, #bottom, .menuitem {
    border-radius: 4px;
    margin: 4px;
}

/* selector #top selects the tag in the HTML with id="top" */
#top{
    background-color: 200px;
    color: #ffffff;
    padding: 15px;
}

#menubar{
    width: 200px;
    float: left;
}

#main{
    padding: 10px;
}